<ion-header-bar class="bar-positive">
    <h1 class="title">Register</h1>
</ion-header-bar>
<ion-content>
    <div class="list" ng-controller="RegisterController">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="your@email" ng-model="registerData.email" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="John" ng-model="registerData.password" ng-required="true">
        </label>
        <button ng-click="register()" class="button button-positive">
            Register
        </button>
    </div>
</ion-content>